<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="5 seconds">


	<!-- Console appender -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</Pattern>
		</layout>
	</appender>

	<!-- General file appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/ortemAdmin.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/archive/ortemAdmin.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1000MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="org.apache.commons" level="info" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>

	<!-- Hibernate komponensek logger -->
	<logger name="org.hibernate" level="info" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>

	<!-- JBoss common komponensek logger -->
	<logger name="org.jboss" level="info" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>


	<!-- Spring komponensek logger -->
	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>


	<!-- Fő logger a konzolra történő naplózáshoz -->
	<logger name="hu.ortem" level="trace" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>


	<!--  Fő logger a file-ba történő naplózáshoz -->
	<logger name="hu.ortem" level="trace" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<!-- Azon komponensek naplózási szintje, amelyek a fentiekben nincsenek megadva -->
	<root level="debug">
		<appender-ref ref="FILE" />
	</root>

</configuration>
